<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/dates-component.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
    <style>
        body{
            font-size: 14px;
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>
<body>
    <div class="c-widget to-be-fixed">

        <div class="c-widget__body {{ $settings ?? '' }}">
            <div class="dates-component dates">
                <div class="check-in-container">
                    <div class="check-name">{{ trans_suite('suite::emarketing.check_in') }}</div>
                    <div class="check-in-selector">
                        <div class="day-number"></div>
                        <div class="widget-wrapper">
                            <div class="month"></div>
                            <div class="year"></div>
                            <div class="day"></div>
                        </div>
                    </div>
                </div>
                <div class="check-out-container">
                    <div class="check-name">{{ trans_suite('suite::emarketing.check_out') }}</div>
                    <div class="check-out-selector">
                        <div class="day-number"></div>
                        <div class="widget-wrapper">
                            <div class="month"></div>
                            <div class="year"></div>
                            <div class="day"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="occupancy-component-container">
                <div class="check-name">{{ trans_suite('suite::fields.rooms_people') }}</div>
                <div class="occupancy-component">
                    <div class="custom-selector"></div>
                </div>
            </div>

            <div class="booking-promo">
                <div class="promo-code">
                    <input type="text" class="c-promo" placeholder="{{ trans_suite('suite::fields.promocode') }}">
                </div>
                <div class="booking-button">
                    <button class="c-button c-button--blue">{{ trans_suite('suite::fields.book') }}</button>
                </div>
            </div>
        </div>
        
    </div>
</body>
    
</body>
</html>
