.c-booking-widget{
    .booking-button{
        justify-content: center;
        background: $widget-base-color;
        background: var(--booking-color-primary);
        align-items: center;
        max-width: none;
        display: flex;
        button{
            font-family: $widget-font-family;
            text-transform: uppercase;
            font-size: 1.15em;
            background: none;
            box-shadow: none;
            cursor: pointer;
            min-height: 4em;
            line-height: 0;
            border: none;
            height: 100%;
            width: 100%;
            color: #FFF;
            color: var(--booking-color-light-text);
        }
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        .booking-button{
            max-width: 150px;
        }
        &__container.condensed{
            .booking-button{
                max-width: none;
            }
        }
    }
}