/* Dates */
.c-booking-widget{
    .dates-component-wrapper{
        display: flex;
        align-items: stretch;
        flex-grow: 2;
        flex-basis: 25%;
        background: #FFF;
        .check-in-container, .check-out-container{
            border-bottom: 1px solid $widget-base-secondary-color;
            position: relative;
            flex-grow: 1;
            /* padding: 5px; */
        }
        .check-in-container{
            border-right: 1px solid $widget-base-secondary-color;
        }
        .check-name{
            padding: 10px 0 10px 10px;
            font-size: 1em;
            text-transform: uppercase;
            color: $widget-base-color;
            color: var(--booking-color-primary);
        }
        .check-out-selector, .check-in-selector{
            display: flex;
            cursor: pointer;
            position: relative;
            flex-direction: column;
            .day-number {
                width: auto;
                font-weight: bold;
                font-size: 2.5em;
                padding: 0 10px;
                line-height: 1;
            }
            .month{
                text-transform: capitalize;
                margin-bottom: 3px;
                font-weight: bold;
            }
            .day{
                text-transform: uppercase;
                font-size: 0.9em;
            }
            .widget-wrapper{
                display: flex;
                flex-direction: column;
                font-size: 1em;
                padding: 5px 10px 10px;
            }
            svg {
                position: absolute;
                right: 0px;
                bottom: 5px;
                margin-right: 10px;
                width: 10px;
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                fill: $widget-base-color;
                fill: var(--booking-color-primary);
                transition: transform .2s,margin .2s,-webkit-transform .2s;
                /* IE */
                max-height: 10px;
            }
            &.opened{
                svg{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.dates-component_dropdown {
    .dates-component_header{
        background: var(--booking-color-primary);
    }
    .dates-component_day{
        &:not(.dates-component_unselectable){
            &:hover{
                background: var(--booking-color-primary);
            }
        }
    }
    .dates-component_selected{
        /* background-color: color($widget-base-color lightness(95%)); */
    }
    .dates-component_check-in-day, 
    .dates-component_check-out-day{
        background: var(--booking-color-primary);
        
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        .dates-component-wrapper{
            .check-in-container, .check-out-container{
                border-bottom: none;
            }
            .check-out-selector, .check-in-selector{
                flex-direction: row;
                .widget-wrapper{
                    padding: 0;
                }
            }
        }
    }
}