/* Destinations */
.c-booking-widget{
    .destination-component{
        background: $widget-base-secondary-color;
        font-family: $widget-font-family;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        flex-grow: 1;
        &__name{
            display: none;
            padding: 10px 0 10px 10px;
            font-size: 1em;
            text-transform: uppercase;
            color: $widget-base-color;
            color: var(--booking-color-primary);
            cursor: default;
        }
         &--mobile{
            padding: 10px 0;
        }
        .destination-selector{
            font-size: 1.1em;
            cursor: pointer;
            .destination-component_placeholder{
                font-weight: bold;
            }
        }
        svg{
            fill: $widget-base-color;
            fill: var(--booking-color-primary);
            /* IE */
            max-height: 10px;
        }
        .destination-component_image{
            background: var(--booking-color-primary);
        }
    }
    .destination-component__wrapper{
        flex-direction: column;
        border-right: none;
        padding:0px 0;
        .destination-component_placeholder{
            font-weight: bold;
            font-size: 1.1em;
        }
    }
    .destination-component-close{
        svg{
            margin-right: 10px;
            max-height: none;
            width:28px;
            fill: #ffffff;
        }
    }
    .destination-component-header{
        background: $widget-base-color;
        background: var(--booking-color-primary);
        font-size: 1.389em;
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        .destination-component{
            background: #FFFFFF;
            flex-direction: row;
            &__name{
                display: block;
            }
        }
        .destination-component__wrapper{
            border-right: 1px solid rgba(10,10,10,.1);
            flex-direction: column;
            min-height: unset;
        }
    }
}