/* Occupancy */
.c-booking-widget{
    .occupancy-component-container{
        font-family: $widget-font-family;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 17.5%;
        flex-grow: 1;
        background: #FFF;
        position: relative;
        .occupancy-name{
            padding: 10px 0 0px 10px;
            font-size: 1em;
            text-transform: uppercase;
            color: $widget-base-color;
            color: var(--booking-color-primary);
        }
        svg {
            position: absolute;
            right: 0px;
            bottom: 13px;
            margin-right: 10px;
            width: 10px;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            fill: $widget-base-color;
            fill: var(--booking-color-primary);
            transition: transform .2s,margin .2s,-webkit-transform .2s;
            /* IE */
            max-height: 10px;
        }
        &.opened{
            svg{
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .custom-selector {
            position: relative;
            font-weight: bold;
            padding: 0 0 0 10px;
            line-height: 40px;
            cursor: pointer;
            height: 40px;
            width: 100%;
            z-index: 1;
        }
    }
}

.occupancy-component_dropdown{
    .occupancy-component_dropdown_header{
        background: var(--booking-color-primary);
    }
    .rooms{
        button{
            color: var(--booking-color-primary);
            background: var(--booking-color-secondary);
        }
    }
    .occupancy-component_header{
        a.selected{
            background: var(--booking-color-secondary);
        }
    }
    .occupancy-component_room_container{
        background: var(--booking-color-secondary);
        .occupancy-component_button_input-control{
            color: var(--booking-color-primary);
        }
    }
    .occupancy-component_button--combination{
        background: var(--booking-color-primary);
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        .occupancy-component-container{
            .occupancy-name{
                padding: 10px 0 10px 10px;
            }
        }
    }
}