/* Promocode */
.c-booking-widget{
    .promo-code{
        background-color: $widget-lighten-base-color;
        background-color: var(--booking-color-secondary);
        font-family: $widget-font-family;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        border-right: none;
        max-width: none;
        display: flex;
        flex-grow: 1;
        .c-promo-info-icon {
            cursor: pointer;
            .a{
                fill: var(--booking-color-primary);
            }
        }
        &__name{
            display: none;
            padding: 10px;
            padding-bottom: 0;
            text-transform: uppercase;
            color: $widget-base-color;
            color: var(--booking-color-primary);
        }
        input{
            height: 40px;
            /* max-height: calc(100% - 12px); */
            -ms-flex-line-pack: end;
            align-content: end;
            width: 100%;
            max-width: calc(100% - 20px);
            margin: 0;
            border: none;
            font-size: 1em;
            line-height: 1.2em;
            padding: 3px 10px;
            background: transparent;
            color: $widget-base-color;
            color: var(--booking-color-primary);
            &:focus{
                outline: none;
            }
            &::placeholder {
                text-transform: uppercase;
                color: $widget-base-color;
                color: var(--booking-color-primary);
            }
        }
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        .promo-code{
            max-width: 200px;
            &__name{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            input{
                display: block;
                &::placeholder {
                    display: none;
                    color: transparent;
                }
                &:-ms-input-placeholder {
                    display: block;
                }
            }
        }
        &__container.condensed{
            .promo-code{
                max-width: none;
            }
        }
    }
}
