.c-booking-widget{
    &__resume{
        opacity: 0;
        &__info {
            background: $widget-base-color;
            background: var(--booking-color-primary);
            justify-content: flex-start;
            flex-direction: row;
            position: relative;
            z-index: 2;
            display: flex;
        }
        &__destination, &__dates, &__occupancy, &__promocode{
            font-family: $widget-font-family;
            align-items: center;
            position: relative;
            margin-right: 10px;
            padding-left: 25px;
            display: flex;
            font-weight: bold;
            font-size: 0.9em;
            align-items: center;
        }
        &__destination{
            padding-right: 15px;
            svg{
                margin-right: 8px;
                width: 7px;
            }
        }
        &__dates{
            padding-left: 0;
        }
        &__promocode{
            padding-left: 25px;
        }
        &__check-in, &__check-out{
            align-items: center;
            display: flex;
            position: relative;
            padding-left: 10px;
             svg{
                margin-right: 8px;
                width: 11px;
            }
        }
        &__check-in{
            margin-right: 15px;
            &:after{
                transform: translateY(0%);
                position: absolute;
                background: #FFF;
                content: '';
                width: 4px;
                height: 2px;
                right: -15px;
                top: 50%;
            }
        }
        &__occupancy{
             svg{
                margin-right: 8px;
                width: 8px;
            }
        }
        &__button.booking-button{
            background: $widget-base-color;
            background: var(--booking-color-primary);
            position: relative;
            z-index: 2;
            button{
                min-height: 0;
            }
        }

        &:after, &:before {
            transition: .2s;
            opacity: 0;
            position: absolute;
            content: '';
            background: $widget-base-color;
            background: var(--booking-color-primary);
            height: 30px;
            width: 100%;
            left: 0%;
        }
        &:after {
            left: unset;
            right: 0%;
        }
    }

    &--shrink{
        .c-booking-widget__resume.show{
            transition: .2s;
            opacity: 1;
            &:before, &:after{
                opacity: 1;
            }
            &:before{
                transition: .2s;
                left: -50%;
            }
            &:after{
                transition: .2s;
                right: -50%;
            }
        }
    }
}