
.c-booking-widget{
    opacity: 0;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 0px rgba(10,10,10,.1);
    font-size: .8em;
    transition: opacity .3s ease-in;
    position: relative;
    background: transparent;
    max-height: none;
    height: unset;
    z-index: 1;
    &.fixed{
        position: fixed;
        width: 990px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__loadded {
        opacity: 1;
    }

    &__container {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    &__item{
        flex-grow: 1;
        /* padding: 5px; */
        flex-basis: 12.5%;
        border-right: none;
        &.dates-component{
            flex-grow: 2;
            padding: 0px;
        }
        &:last-child{
            border-right: none;
        }
    }

    &__resume{
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition: height 0.15s cubic-bezier(.25,.75,.5,1.25);
    }

    .c-booking-widget__resume.show{
        transition: height 0.65s cubic-bezier(.25,.75,.5,1.25);
        display: flex;
        opacity: 1;
        justify-content: space-between;
        height: 30px;
        background: $widget-base-color;
        background: var(--booking-color-primary);
        color: #FFF;
        &__info{
            display: flex;
        }
        &__destination,
        &__dates,
        &__occupancy,
        &__promocode{
            margin-right: 10px;
            font-weight: bold;
            position: relative;
            padding-left: 15px;
        }
        &__promocode{
            padding-left: 0;
        }

    }

    &&--shrink-tmp{
        max-height: $widget-body-max-height;
        transition: max-height .6s cubic-bezier(.25,.75,.5,1.25);
        overflow: hidden;
    }

     &--shrink{
        display: block;
        max-height: 30px;
        transition: max-height .6s cubic-bezier(.25,.75,.5,1.25);
        /* overflow: hidden; */
    }

    &&--no-overflow{
        overflow: inherit;
    }

    .c-booking-widget__body{
       transition: margin-top  .6s cubic-bezier(.25,.75,.5,1.25);
       margin-top: 0;
       background:white;
       &.animate{
            margin-top: calc(-$widget-body-max-height + -2px);
            transition: margin-top  .6s cubic-bezier(.25,.75,.5,1.25);
       }
    }
}

/*  min-width: 1023 */
@media (min-width:$largeDevices){
    .c-booking-widget{
        position: unset;
       /* max-height: 76px; */
        &__container{
            flex-direction: row;
            &.condensed{
                flex-direction: column;
                .c-booking-widget__item{
                    flex: 1 1 auto !important;
                }
            }
        }
        &__item{
            border-right: 1px solid rgba(10,10,10,.1);
        }
    }
}

/*  min-width: 1200 */
@media (min-width:$tabletLandscape){
    .c-booking-widget{
       &.fixed{
           width: 1140px;
       }
    }
}