/* GENERAL */
$widget-font-family: 'Lato', sans-serif;
$widget-base-color: #7B4087;
$widget-lighten-base-color: #F9F2FA;/*#FCEDFF;*/
$widget-base-secondary-color: #F6F8FC;
$widget-body-max-height: 76px;

$smallDevices: 540px;
$mediumDevices: 720px;
$largeDevices: 1023px;
$extraLargeDevices: 1240px;

$largeDesktop: 1500px;
$smallDesktop: 1330px;
$tabletLandscape: 1199px;
$tabletPortrait: $largeDevices;
$mobile: 767px;
$mobilePortrait: 374px;

:root {
  --booking-color-primary: $widget-base-color;
  --booking-color-secondary: $widget-lighten-base-color;
  --booking-color-text: #000;
  --booking-color-light-text: #fff;
}